/*======= CSS variables =======*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;
  /* Font */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  /* Darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* Grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /* Basic colors */
  --clr-white: #fff;
  /* Spacing */
  --spacing: 0.2rem;
  --mini-spacing: 0.11rem;
  /* Shadows*/
  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b; }

/*
=============== 
Fonts
===============
*/
html {
  scroll-behavior: smooth; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary); }

/*======= Main CSS =======*/
section {
  position: relative; }

.section {
  color: var(--clr-grey-3);
  padding: 35px 200px;
  transition: 0.3s ease; }

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary); }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

p {
  letter-spacing: var(--mini-spacing);
  line-height: 1.5; }

ul {
  letter-spacing: var(--mini-spacing);
  line-height: 1.5; }

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1rem; }
  body {
    font-size: 1rem; }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1; } }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px var(--clr-grey-10); }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--clr-grey-7); }

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-grey-6); }

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s; }

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s; }

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s; }

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #8ed0ff 0%, #199fff 74%);
  box-shadow: 3px 5px 10px 1px #199fff;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden; }

.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8; }

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s; }

.blog-slider__content {
  padding-right: 25px; }

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s; }

.blog-slider__code {
  margin-bottom: 15px;
  display: block;
  font-weight: 500; }

.blog-slider__title {
  margin-bottom: 20px; }

.blog-slider__text {
  margin-bottom: 30px;
  line-height: 1.3rem; }

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #8ed0ff 0%, #199fff 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px; }

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%); }

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0; }

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  opacity: 0.2;
  transition: all 0.3s; }

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #199fff;
  height: 30px; }

/*======= Scroll indicator bar =======*/
.scroll-indicator-container {
  width: 100%;
  height: 5px; }

.scroll-indicator-bar {
  background: #199fff;
  width: 0%;
  height: 100%;
  box-shadow: 0 5px 25px #199fff, 0 5px 50px #199fff; }

header {
  z-index: 9999;
  position: fixed;
  width: 100%; }

header .nav-bar {
  z-index: 9999;
  position: relative;
  height: 4em;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  transition: 0.5s ease; }

.nav-bar .logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none; }

.navigation .nav-items a {
  color: #fff;
  font-size: 1em;
  text-decoration: none; }

.navigation .nav-items a:not(:last-child) {
  margin-right: 50px; }

.navigation .nav-items a i {
  display: none; }

.nav-close-btn,
.nav-menu-btn {
  display: none; }

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: var(--light-shadow);
  z-index: 2; }

.fixed-nav .logo {
  color: var(--clr-grey-3); }

.fixed-nav .nav-items a {
  color: var(--clr-grey-3); }

.fixed-nav .nav-menu-btn {
  color: var(--clr-grey-3); }

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, var(--clr-grey-5), transparent), radial-gradient(6px 6px at 200px 150px, var(--clr-grey-5), transparent), radial-gradient(3px 3px at 300px 250px, var(--clr-grey-5) 50%, transparent), radial-gradient(4px 4px at 400px 350px, var(--clr-grey-5) 50%, transparent), radial-gradient(6px 6px at 500px 100px, var(--clr-grey-5) 50%, transparent), radial-gradient(3px 3px at 50px 200px, var(--clr-grey-5) 50%, transparent), radial-gradient(4px 4px at 150px 300px, var(--clr-grey-5) 50%, transparent), radial-gradient(6px 6px at 250px 400px, var(--clr-grey-5) 50%, transparent), radial-gradient(3px 3px at 350px 500px, var(--clr-grey-5) 50%, transparent);
  background-size: 650px 650px;
  animation: snow 10s linear infinite;
  content: ''; }

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 40s;
  animation-direction: reverse; }

.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 50s;
  animation-direction: reverse; }

@keyframes snow {
  to {
    transform: translateY(100vh); } }

/*============ Google fonts ============*/
/*======= Header =======*/
/*======= Background slider =======*/
.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh; }

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh; }

.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none; }

.swiper-slide .text-content {
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease; }

.swiper-slide .text-content .big-title {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0; }

.swiper-slide-active .text-content .big-title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity; }

.swiper-slide .text-content .big-title span {
  font-size: 0.3em;
  font-weight: 300; }

.swiper-slide .text-content div {
  max-width: 650px;
  background: var(--white-color);
  color: var(--clr-grey-4);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0; }

.swiper-slide-active .text-content div {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity; }

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0; }

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity; }

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease; }

.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(5px); }

.dark-layer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1); }

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease; }

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow); }

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer; }

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color); }

/*======= Media icons =======*/
.media-icons {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px; }

.media-icons a {
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0; }

/*======= About section =======*/
.about h2 {
  font-size: 3em;
  font-weight: 600; }

.about p {
  margin: 25px 0; }

.title {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem; }

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #199fff;
  margin-left: auto;
  margin-right: auto; }

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px; }
  .section {
    padding: 25px 50px; }
  .media-icons {
    right: 0;
    margin-right: 50px; }
  .swiper-slide .text-content {
    margin: 0 120px 0 50px; }
  .bg-slider-thumbs {
    bottom: 3em; } }

/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px; }
  .section {
    padding: 25px 20px; }
  .media-icons {
    margin-right: 20px; }
  .media-icons a {
    font-size: 1.5em; }
  .swiper-slide .text-content {
    margin: 0 70px 0 20px; }
  .swiper-slide .text-content .big-title {
    font-size: 3em; }
  .swiper-slide .text-content .big-title span {
    font-size: 0.35em; }
  .swiper-slide .text-content div p {
    font-size: 0.9em; }
  /*======= Navigation menu =======*/
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer; }
  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease; }
  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease; }
  .navigation.active {
    visibility: visible;
    opacity: 1; }
  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease; }
  .navigation.active .nav-items {
    transform: translateY(0); }
  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease; }
  .navigation .nav-items a:hover {
    color: var(--navigation-item-hover-color); }
  .navigation .nav-items > a > i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px; }
  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
    margin-top: 30px; }
  /*======= About section =======*/
  .about h2 {
    font-size: 2.5em; }
  .about p {
    font-size: 0.9em; } }

/*======= Card swiper/slider =======*/
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px; } }

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto; } }

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px; } }

.blog-slider__item {
  display: flex;
  align-items: center; }

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%; } }

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%; } }

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px; } }

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px; } }

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0; } }

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px; } }

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px; } }

/*======= Home =======*/
.home {
  min-height: 100vh; }

.home:before {
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--clr-white)); }
