// abstracts
@import './abstracts/variables.scss';

// base
@import './base/global.scss';
@import './base/typography.scss';

// components
@import './components/imageContainer.scss';
@import './components/indicator.scss';
@import './components/mediaContainer.scss';
@import './components/navigation.scss';
@import './components/popup.scss';
@import './components/serviceCard.scss';
@import './components/sliderCard.scss';
@import './components/snow.scss';
@import './components/swiper.scss';
@import './components/timeline.scss';
@import './components/title.scss';
@import './components/topLink.scss';

// layout
@import './layout/footer.scss';
@import './layout/section.scss';
@import './layout/queries.scss';

// pages
@import './pages/home.scss';
