/*======= Media queries (max-width: 1100px) =======*/

@media screen and (max-width: 1100px) {
  header .nav-bar {
    padding: 0 50px;
  }

  .section {
    padding: 25px 50px;
  }

  .media-icons {
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs {
    bottom: 3em;
  }
}

/*======= Media queries (max-width: 785px) =======*/

@media screen and (max-width: 785px) {
  header .nav-bar {
    padding: 25px 20px;
  }

  .section {
    padding: 25px 20px;
  }

  .media-icons {
    margin-right: 20px;
  }

  .media-icons a {
    font-size: 1.5em;
  }

  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title {
    font-size: 3em;
  }

  .swiper-slide .text-content .title span {
    font-size: 0.35em;
  }

  .swiper-slide .text-content p {
    font-size: 0.9em;
  }

  /*======= Navigation menu =======*/

  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn {
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover {
    color: var(--navigation-item-hover-color);
  }

  .navigation .nav-items > a > i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn {
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /*======= About section =======*/
  .about h2 {
    font-size: 2.5em;
  }

  .about p {
    font-size: 0.9em;
  }
}
