// Global section
section {
  position: relative;
}

.section {
  color: var(--clr-grey-3);
  padding: 35px 150px;
  transition: 0.3s ease;
}

// About section
.about-container {
  display: flex;
  justify-content: center;

  &__text {
    width: 45%;
  }

  &__composition {
    width: 55%;
    text-align: center;

    &__photo {
      width: 300px;
      box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
      border-radius: 4px;
      position: relative;
      z-index: 10;
      transition: all 0.2s;
      outline-offset: 2rem;

      &--p1 {
        left: 0;
        top: 2rem;
      }
      &--p2 {
        right: -2rem;
        top: -2rem;
      }

      &:hover {
        // outline: 1.5rem solid $color-primary;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(#000, 0.5);
        z-index: 20;
      }
      &:hover &__photo:not(:hover) {
        transform: scale(0.95);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      width: 100%;
    }

    &__composition {
      width: 100%;
      text-align: center;

      &__photo {
        width: 180px;
        box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
        border-radius: 5px;
        position: relative;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 2rem;

        &--p1 {
          left: 1.5rem;
          top: 1rem;
        }
        &--p2 {
          right: 1.5rem;
          top: 0;
        }
      }
    }
  }
}

.service-section__container {
  width: 100%;
  padding: 0 8%;
  margin-bottom: 25px;
}
.center {
  text-align: center;
}
.services-section {
  width: 100%;
  min-height: 100vh;
  // background-color: rgba(0, 80, 167, 0.1);
  padding-top: 50px;
}
.service-section__container h2 {
  margin: 15px 0;
  color: #333;
  font-size: 36px;
}
.service-section__container .text-top {
  max-width: 45%;
  margin: 10px auto;
  line-height: 1.5rem;
  margin-bottom: 50px;
}
.service-section__container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.service-section__container .row .col {
  width: 32%;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 51px;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
}
// .services-section .row .col:hover {
//   cursor: pointer;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
//   transition: 0.3s ease;
// }

.service-section__container .row .col i.uil {
  font-size: 1.5rem;
}

.service-section__container .row .col i {
  background-color: #199fff;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 15px 20px #0300be33;
}
// .services-section .row .col:nth-child(2) i {
//   background-color: #ff1e38;
//   box-shadow: 0 20px 20px #ff1e3833;
// }
// .services-section .row .col:nth-child(3) i {
//   background-color: #fcdc00;
//   box-shadow: 0 20px 20px #fcdc0033;
// }
.service-section__container .row .col h3 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 30px;
  color: #262729;
  margin: 25px 0;
}
.service-section__container .row .col p {
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.86666;
  margin-bottom: 26px;
  color: rgba(38, 39, 41, 0.7);
}

.content {
  padding: 0 17px;
}

.service-img {
  width: 100%;
  object-fit: cover;
  height: 131.49px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

/* MOBILE RESPONSIVE  */

@media (max-width: 915px) {
  .service-section__container .row {
    flex-direction: column;
  }
  .service-section__container .row .col {
    width: 100%;
    margin-bottom: 25px;
    padding: 25px;
  }
  .service-section__container .text-top {
    max-width: 100%;
  }
  .service-img {
    width: 100%;
    object-fit: cover;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
}

.izrada {
  background-color: red;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    display: inline-block;
  }
}
