// Global section
section {
  position: relative;
}

.section {
  color: var(--clr-grey-3);
  padding: 35px 150px;
  transition: 0.3s ease;
}

// About section
.about-container {
  display: flex;
  justify-content: center;

  &__text {
    width: 45%;
  }

  &__composition {
    width: 55%;
    text-align: center;

    &__photo {
      width: 300px;
      box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
      border-radius: 4px;
      position: relative;
      z-index: 10;
      transition: all 0.2s;
      outline-offset: 2rem;

      &--p1 {
        left: 0;
        top: 2rem;
      }
      &--p2 {
        right: -2rem;
        top: -2rem;
      }

      &:hover {
        // outline: 1.5rem solid $color-primary;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(#000, 0.5);
        z-index: 20;
      }
      &:hover &__photo:not(:hover) {
        transform: scale(0.95);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      width: 100%;
    }

    &__composition {
      width: 100%;
      text-align: center;

      &__photo {
        width: 180px;
        box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
        border-radius: 5px;
        position: relative;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 2rem;

        &--p1 {
          left: 1.5rem;
          top: 1rem;
        }
        &--p2 {
          right: 1.5rem;
          top: 0;
        }
      }
    }
  }
}
