/* section-gallery */
.section-gallery {
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .section-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .section-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    width: 95vw;
  }
  .prev-btn {
    left: -4.5rem;
  }
  .next-btn {
    right: -4.5rem;
  }
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--light-shadow);
  height: 15rem;
}
.img:hover {
  box-shadow: var(--dark-shadow);
}

/*
=============== 
Modal
===============
*/

.modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.85);
  transition: var(--transition);
  opacity: 0;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal.open {
  opacity: 1;
  z-index: 999;
}
.close-btn {
  position: absolute;
  top: 70px;
  left: 90%;
  font-size: 2.7rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.next-btn,
.prev-btn {
  position: absolute;
  top: 10rem;
  transform: translateY(-50%);
  background: transparent;
  font-size: 2rem;
  color: var(--clr-white);
  border-color: transparent;
  cursor: pointer;
}
.prev-btn {
  left: -2.5rem;
}
.next-btn {
  right: -2.5rem;
}
@media screen and (min-width: 768px) {
  .prev-btn {
    left: -4rem;
  }
  .next-btn {
    right: -4rem;
  }
}

.modal-content {
  width: 80%;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}
.main-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.image-name {
  text-align: center;
  margin: 1rem 0 3rem;
  color: var(--clr-white);
}
.modal-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.modal-img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  opacity: 0.5;
  transition: var(--transition);
  cursor: pointer;
}
.modal-img:hover {
  opacity: 1;
}
.modal-img.selected {
  opacity: 1;
}

@media screen and (max-width: 570px) {
  .close-btn {
    left: 80%;
  }
}
