/*======= Scroll indicator bar =======*/

.scroll-indicator-container {
  width: 100%;
  height: 5px;
}

.scroll-indicator-bar {
  background: #199fff;
  width: 0%;
  height: 100%;
  box-shadow: 0 5px 25px #199fff, 0 5px 50px #199fff;
}
