.media-container {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0.3rem 1rem rgba(#000, 0.5);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;

  &__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #8ed0ff 0%, #199fff 74%);
    box-shadow: 3px 5px 10px 1px #199fff;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: all 0.3s;
  }

  &__content {
    padding-right: 25px;
  }
  &__content > * {
    transform: translateY(25px);
    transition: all 0.4s;
  }

  &__date {
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 30px;
    line-height: 1.3rem;
  }
  &__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #8ed0ff 0%, #199fff 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 992px) {
  .media-container {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .media-container {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .media-container {
    height: 350px;
  }
}
.media-container__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .media-container__item {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .media-container__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .media-container__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .media-container__img {
    height: 270px;
  }
}
@media screen and (max-width: 768px) {
  .media-container__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .media-container__content {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .media-container__button {
    width: 100%;
  }
}
