// Navigation bar
header {
  z-index: 9999;
  position: fixed;
  width: 100%;
}

header .nav-bar {
  z-index: 9999;
  position: relative;
  // background: rgb(175, 175, 175);
  // backdrop-filter: blur(10px);
  height: 4em;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  transition: 0.5s ease;
}

.nav-bar .logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation .nav-items a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.navigation .nav-items a:not(:last-child) {
  margin-right: 2rem;
}

.navigation .nav-items a i {
  display: none;
}

.nav-close-btn,
.nav-menu-btn {
  display: none;
}

// Fixed nav

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: var(--light-shadow);
  z-index: 2;
}

.fixed-nav .logo {
  color: var(--clr-grey-3);
}

.fixed-nav .nav-items a {
  color: var(--clr-grey-3);
}
.fixed-nav .nav-menu-btn {
  color: var(--clr-grey-3);
}

// .fixed-nav {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background: var(--clr-white);
//   box-shadow: var(--light-shadow);
//   z-index: 2;
// }
// .fixed-nav .logo {
//   color: var(--clr-grey-1);
// }

// .fixed-nav .links a {
//   color: var(--clr-grey-1);
// }
// .fixed-nav .links a:hover {
//   color: var(--clr-green-dark);
// }
