.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    width: 75%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(#000, 0.2);
    border-radius: 7px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  // FUNKCIONALNOST ZATVARANJA
  &__close {
    &:link,
    &:visited {
      color: #fff;
      position: absolute;
      top: 0.7rem;
      right: 1rem;
      font-size: 2.1rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      transition: all 0.2s;

      &:hover {
        color: #199fff;
      }
    }
    @media screen and (min-width: 915px) {
      &:link,
      &:visited {
        color: var(--clr-grey-3);
      }
    }
  }
}
