.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(
      4px 4px at 100px 50px,
      var(--clr-grey-5),
      transparent
    ),
    radial-gradient(6px 6px at 200px 150px, var(--clr-grey-5), transparent),
    radial-gradient(3px 3px at 300px 250px, var(--clr-grey-5) 50%, transparent),
    radial-gradient(4px 4px at 400px 350px, var(--clr-grey-5) 50%, transparent),
    radial-gradient(6px 6px at 500px 100px, var(--clr-grey-5) 50%, transparent),
    radial-gradient(3px 3px at 50px 200px, var(--clr-grey-5) 50%, transparent),
    radial-gradient(4px 4px at 150px 300px, var(--clr-grey-5) 50%, transparent),
    radial-gradient(6px 6px at 250px 400px, var(--clr-grey-5) 50%, transparent),
    radial-gradient(3px 3px at 350px 500px, var(--clr-grey-5) 50%, transparent);
  background-size: 650px 650px;
  animation: snow 10s linear infinite;
  content: '';
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 40s;
  animation-direction: reverse;
}

.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 50s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(100vh);
  }
}
