.heading-tertiary {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-grey-3);
}

.paragraph {
  color: var(--clr-grey-3);
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.big-top-margin {
  margin-top: 4rem;
}
