.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  /* background: transparent;*/
  border-color: #199fff;
  background: #199fff;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: #199fff;
  cursor: pointer;
  transition: all 0.3s linear;
  color: var(--clr-white);
}
.filter-btn:hover {
  background: var(--clr-grey-4);
  border-color: var(--clr-grey4);
}
.section-rink {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
}
.photo {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
.rink-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: #199fff;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-rink {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .filter-btn {
    margin: 0 0.2rem;
  }
}
